/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

html{
    scroll-behavior:smooth;
}

body{
    min-height:100vh;
    transition:.4s;
    overflow-x:hidden;
}

/* Dark Theme */

body.dark{
    background:linear-gradient(135deg,#0f172a,#1e293b,#020617);
    color:white;
}

/* Light Theme */

body.light{
    background:linear-gradient(135deg,#eef2ff,#dbeafe,#ffffff);
    color:#111827;
}

button{
    font-family:inherit;
    cursor:pointer;
    border:none;
    outline:none;
}

a{
    text-decoration:none;
}

img{
    max-width:100%;
    display:block;
}